<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
          <a href="/restaurants/new" class="btn btn-major d-inline-block ml-2" type="submit"><i
              class="fas fa-plus-circle"></i>
            Add</a>
        </div>
      </form>


    </div>
  </div>
  <form action="/" method="get">
    <div class="dropdown text-right">
      <div class="btn-group">
        <button class="btn btn-outline-danger dropdown-toggle" type="button" name="sort" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" onchange="this.form.submit()">
          Sorted by
          {{#if sortByEnum}}
          {{sortBy}}
          {{/if}}
        </button>
        <div name="" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/restaurants?keyword={{keyword}}&sortBy=rating&order=desc">Rating High to
            Low</a>
          <a class="dropdown-item" href="/restaurants?keyword={{keyword}}&sortBy=alphabet&order=asc">A-Z</a>
          <a class="dropdown-item" href="/restaurants?keyword={{keyword}}&sortBy=category&order=asc">Category</a>
          <a class="dropdown-item" href="/restaurants?keyword={{keyword}}&sortBy=time&order=desc">Newest</a>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- restaurant list -->
<div class="container my-5">
  <div class="row">



    {{#each restaurants}}
    <div class="col-md-4 pb-5">
      <a href="/restaurants/{{this.id}}" class="text-secondary">
        <div class="card mb-3">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <span class="badge badge-pill badge-danger font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
          <div class="card-footer">
            <form action="/restaurants/{{this.id}}/?_method=DELETE" method="POST">
              <button href="/restaurants/{{this.id}}" type="button" class="btn btn-outline-success mr-2"
                href="">Detail</button>
              <a href="/restaurants/{{this.id}}/edit" type="button" class="btn btn btn-outline-secondary mr-2"
                href=""><i class="far fa-edit"></i></a>
              <button type="submit" class="btn btn-outline-danger" href=""><i class="fas fa-trash-alt"></i></button>
            </form>
          </div>
        </div>
      </a>
    </div>
    {{/each}}



  </div>
</div>